.empty-state {

    background: #fff;

    padding: 70px;

    border-radius: 18px;

    text-align: center;

    border: 1px solid #E2E8F0;

}

.empty-state i {

    font-size: 70px;

    color: #CBD5E1;

}

.empty-state h3 {

    margin-top: 20px;

    color: #0F172A;

}

.empty-state p {

    margin-top: 10px;

    color: #64748B;

}