@use "../abstracts" as *;

/*=========================================
=            LOADER
=========================================*/

.loader {

    width: $loader-size-md;

    height: $loader-size-md;

    border: 3px solid $gray-200;

    border-top-color: $primary-color;

    border-radius: 50%;

    animation: spin .8s linear infinite;

}

@keyframes spin {

    from {

        transform: rotate(0deg);

    }

    to {

        transform: rotate(360deg);

    }

}