<div class="table-toolbar">

    <div class="search-box">

        <i class="pi pi-search"></i>

        <input type="text" placeholder="Search..." [(ngModel)]="searchText" (input)="onSearch()"
            placeholder="Search..." />

    </div>

    <button class="secondary-btn" type="button" (click)="openFilter()">

        <i class="pi pi-filter"></i>

        Filter

    </button>

</div>

<app-filter-modal

    [(visible)]="showFilterDialog"

    (apply)="applyFilter($event)"

    (reset)="resetFilter()">

</app-filter-modal>