<div class="table-toolbar">

    @if(enableSearch){

    <div class="search-box">

        <i class="pi pi-search"></i>

        <input type="text" [(ngModel)]="searchText" (input)="onSearch()" placeholder="Search..." />

    </div>

    }

    @if(enableFilter){

    <button class="secondary-btn" (click)="filter.emit()">

        <i class="pi pi-filter"></i>

        Filter

    </button>

    }

</div>

<app-filter-modal [(visible)]="showFilterDialog" (apply)="applyFilter($event)" (reset)="resetFilter()">

</app-filter-modal>