<p-dialog
    [(visible)]="visible"
    [modal]="true"
    [draggable]="false"
    [resizable]="false"
    [dismissableMask]="false"
    [closable]="true"
    [closeOnEscape]="true"
    [style]="{ width: '460px' }"
    styleClass="confirmation-dialog"
    (onHide)="close()">

    <ng-template pTemplate="header">

        <div class="dialog-title-wrapper">

            <i class="pi pi-trash"></i>

            <span>{{ title }}</span>

        </div>

    </ng-template>

    <div class="dialog-body">

        <p class="dialog-message">

            {{ message }}

        </p>

        @if(itemName){

            <p class="dialog-item">

                <strong>{{ itemName }}</strong>

                @if(itemCode){

                    ({{ itemCode }})

                }

            </p>

        }

        <p class="dialog-warning">

            This action cannot be undone.

        </p>

    </div>

    <ng-template pTemplate="footer">

        <button
            type="button"
            class="secondary-btn"
            [disabled]="loading"
            (click)="close()">

            {{ cancelButtonText }}

        </button>

        <button
            type="button"
            class="danger-btn"
            [disabled]="loading"
            (click)="onConfirm()">

            @if(!loading){

                <i class="pi pi-trash"></i>

                {{ confirmButtonText }}

            } @else {

                <i class="pi pi-spin pi-spinner"></i>

                Deleting...

            }

        </button>

    </ng-template>

</p-dialog>