@if ((breadcrumbs$ | async); as breadcrumbs) {

@if (breadcrumbs.length > 0) {

<nav class="breadcrumb-container">

    <ol>

        @for(item of breadcrumbs; track item.route; let last = $last){

        <li>

            @if(!last){

            <a [routerLink]="item.route">

                {{item.label}}

            </a>

            <i class="pi pi-angle-right"></i>

            }

            @else{

            <span>

                {{item.label}}

            </span>

            }

        </li>

        }

    </ol>

</nav>

}

}